.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray2);
  border-top-left-radius: var(--space-sm);
  border-bottom-right-radius: var(--space-sm);
  padding-inline: var(--space-sm);
  padding-block: var(--space-xs);
  cursor: pointer;
  text-decoration: none;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.3rem;
}
