.content {
  min-height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary {
  color: var(--blue-primary-500);
  margin-bottom: 2.5rem;
}

.btn-next {
  margin-top: 2rem;
  align-self: flex-end;
}

.btn-edit {
  display: flex;
  justify-content: space-between;
}
