.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > h1 {
  color: var(--blue-primary-500);
  margin-bottom: 0.5rem;
}

.price-content {
  display: flex;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-content-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.title {
  margin-bottom: 2rem;
}

.primary {
  color: var(--blue-primary-500);
}

.other-users:hover {
  visibility: visible;
}

.input-content.error-input input[type='text'] input[type='number'] {
  border: #d2252f;
  outline: 1px solid #d2252f;
}

.btn-edit {
  display: flex;
  justify-content: space-between;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  padding: 24px 32px;
  z-index: 99999;
  backdrop-filter: blur(100%);
}

.modal-content {
  display: grid;
  gap: 32px;
}
