@if (orderPerUser()) {
  <div class="content">
    <section>
      <header>
        <h1 class="title">Conta justa feita com sucesso!</h1>
      </header>
      @for (user of orderPerUser() ?? []; track user.userId; let i = $index) {
        <app-division-card [orderPerUser]="user" [cardState]="cardState[i]" (openCard)="openCard(i)" />
      }
    </section>
    <footer>
      <div class="total">
        <h2>Total</h2>
        <div>
          <h1>{{ finalValue() | currency }}</h1>
          <span>com taxa de {{ finalOrder().tax }}%</span>
        </div>
      </div>
      @if (!id()) {
        <div class="button-content">
          <app-button
            [isDisabled]="false"
            buttonTitle="Voltar"
            size="small"
            styleButton="yellow-secondary"
            [routerLink]="['/resumo']"></app-button>
          <app-button
            [isDisabled]="false"
            buttonTitle="Finalizar"
            size="small"
            styleButton="yellow-primary"
            [routerLink]="['/evento']"></app-button>
        </div>
      } @else {
        <div class="button-content">
          <app-button
            [isDisabled]="false"
            buttonTitle="inicio"
            size="small"
            styleButton="yellow-secondary"
            [routerLink]="['']"></app-button>
          <app-button
            [isDisabled]="false"
            buttonTitle="Historico"
            size="small"
            styleButton="yellow-primary"
            [routerLink]="['/history']"></app-button>
        </div>
      }
    </footer>
  </div>
}
