.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > h1 {
  color: var(--blue-primary-500);
  margin-bottom: var(--space-xs);
}

.price-content {
  display: flex;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-sm);
  margin-top: var(--space-lg);
}

.btn-content-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-sm);
  margin-top: var(--space-lg);
}

.title {
  margin-bottom: var(--space-lg);
}

.primary {
  color: var(--blue-primary-500);
}

.other-users:hover {
  visibility: visible;
}

.input-content.error-input input[type='text'] input[type='number'] {
  border: var(--color-error);
  outline: 1px solid var(--color-error);
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
