<main class="content">
  @if (isDeleteModalOpen()) {
    <app-modal
      [(open)]="isDeleteModalOpen"
      title="Excluir item"
      (confirm)="confirmDelete()"
      (cancel)="onModalDismiss()">
      <div modalBody>
        <h5>Tem certeza que deseja excluir o(a) {{ this.userToDelete() }}?</h5>
        <span>
          Se excluir {{ this.userToDelete() }}, ele(a) será excluído(a) da divisão de valor de todos os itens.
        </span>
      </div>
    </app-modal>
  }

  <section>
    @if (!isEdit) {
      <h1 class="primary">Pra começar, quem está no rolê?</h1>
    } @else {
      <h1 class="primary">Deseja excluir ou adicionar alguém?</h1>
    }

    <app-registration-form
      [registrationForm]="registrationFormModel.form"
      (addUser)="addNewUserInput()"
      (indexToDelete)="requestDelete($event)"
      [formVersion]="registrationFormModel.formVersion()" />
  </section>

  @if (!isEdit) {
    <footer class="btn-next">
      <app-button
        buttonTitle="começar"
        [isDisabled]="!registrationFormModel.canEnableSubmitButton()"
        styleButton="primary"
        size="large"
        (buttonAction)="submit()"></app-button>
    </footer>
  }

  @if (isEdit) {
    <footer class="btn-edit">
      <app-button buttonTitle="Voltar" styleButton="primary" size="small" (buttonAction)="navigateTo()"></app-button>
      <app-button buttonTitle="Salvar" styleButton="primary" size="small" (buttonAction)="submit()"></app-button>
    </footer>
  }
</main>
