<div class="checkbox-content">
  <div class="editar">
    <h3>Dividir valor entre</h3>
    <!-- <app-button-link title="editar pessoas" (buttonAction)="editarPessoas()"></app-button-link> -->
  </div>
  <div class="form-content">
    <div class="mark-all-users">
      <input id="all-users" type="checkbox" [checked]="allSelected()" (change)="selectAllUser($event)" />
      <label for="name">Selecionar todos</label>
    </div>
    @for (user of usersList(); track user.id) {
      <div class="form-checkbox">
        <input
          type="checkbox"
          [id]="'user-' + user.id"
          [checked]="selectedIds().has(user.id)"
          (change)="toggleUser(user, $event)" />
        <label [for]="'user-' + user.id">{{ user.name }}</label>
      </div>
    }
  </div>
</div>
