<form class="form-content" [formGroup]="signupForm()">
  <section class="field">
    <div class="input-content" [ngClass]="{ 'error-input': name.dirty && name.invalid }">
      <input
        type="text"
        name="name"
        formControlName="name"
        placeholder="Seu nome"
        [maxlength]="constants.MAX_LENGTH_NAME" />
    </div>
    <div class="error-msg">
      @if (name.hasError('maxlength') && name.dirty) {
        <span>O nome não pode ter mais de {{ constants.MAX_LENGTH_NAME }} caracteres.</span>
      }
      @if (name.hasError('required') && name.dirty) {
        <span>Ops! Esse nome está em branco.</span>
      }
    </div>
  </section>

  <section class="field">
    <div class="input-content" [ngClass]="{ 'error-input': email.dirty && email.invalid }">
      <input
        type="email"
        name="email"
        formControlName="email"
        placeholder="Seu e-mail"
        [maxlength]="constants.MAX_LENGTH_EMAIL" />
    </div>
    <div class="error-msg">
      @if ((email.hasError('required') || email.hasError('email')) && email.dirty) {
        <span>Digite um e-mail válido.</span>
      }
    </div>
  </section>

  <section class="field">
    <div class="input-content" [ngClass]="{ 'error-input': password.dirty && password.invalid }">
      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder="Sua senha"
        [maxlength]="constants.MAX_LENGTH_PASSWORD" />
    </div>
    <div class="error-msg">
      @if (password.hasError('required') && password.dirty) {
        <span>Ops! A senha está em branco.</span>
      }
      @if (password.hasError('minlength') && password.dirty) {
        <span>A senha precisa ter no mínimo {{ constants.MIN_LENGTH_PASSWORD }} caracteres.</span>
      }
    </div>
  </section>
</form>
