.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  color: var(--white);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  position: absolute;
  min-width: 180px;
  padding: 8px;
  border-radius: 8px;
  background: var(--gray, #1f2633);
  z-index: 1;
  right: 50%;
  transform: translate(50%, 20%);
}
