<main class="content">
  <div>
    <header>
      <h1 class="title">Resumo da conta</h1>
    </header>
    <app-card-items-order [orders]="orders()" (orderToEdit)="setOrderToEdit($event)" />

    <section class="service-payment">
      <h4>Taxa de serviço</h4>
      <app-summary-form [form]="summaryForm" />
    </section>

    <section class="resume">
      <h2>Total</h2>
      <div>
        <h1>{{ total() | currency }}</h1>
        <span>com taxa de {{ percent() }}%</span>
      </div>
    </section>

    @if (errorMessage()) {
      <p class="error-message" role="alert">{{ errorMessage() }}</p>
    }
  </div>

  <footer class="button-content">
    <app-button
      buttonTitle="incluir item"
      size="small"
      styleButton="secondary"
      (buttonAction)="goToOrder()"></app-button>
    <app-button buttonTitle="dividir" size="small" styleButton="primary" (buttonAction)="navigateTo()"></app-button>
  </footer>
</main>
@if (isOpenModal()) {
  <app-modal-quantity [(open)]="isOpenModal">
    <app-items-quantity [orderQuantity]="orderToEdit()?.quantity ?? 1" (close)="updateQuantity($event)" />
  </app-modal-quantity>
}
