.form-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.input-content {
  display: flex;
  align-items: center;
}

.input-content input {
  padding: var(--space-sm) 0.8rem;
  border-radius: var(--radius-md);
  display: block;
  border: 1px solid var(--gray2);
  width: 100%;
  height: 50px;
  font-size: var(--space-sm);
  color: var(--gray4, #333);
}

.input-content input:focus {
  outline: 1px solid var(--blue-primary-500);
  border-color: var(--blue-primary-500);
}

.input-content.error-input input {
  border-color: var(--color-error);
  outline: 1px solid var(--color-error);
}

.error-msg > span {
  color: var(--color-error);
  padding-top: 6px;
  font-size: 0.875rem;
  display: block;
}
