.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="text"] {
  padding: 1rem 0.8rem;
  border-radius: 8px;
  display: block;
  border: 1px solid var(--gray2);
  width: 80%;
  height: 50px;
  font-size: 1rem;
}

.title {
  margin-bottom: 2.5rem;
}

.btn-add {
  color: var(--gray3);
  padding: 1rem 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--gray2);
  width: 80%;
  height: 50px;
  background: transparent;
  opacity: 40%;
  display: flex;
  align-items: center;
}

.btn-add > p {
  font-size: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 182px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--blue-primary-500);
  color: var(--yellow-400);
  border-radius: 8px;
}

.btn-next {
  margin-top: 2rem;
  align-self: flex-end;
}

.input-content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 1rem;
}

.error-msg > p{
  color: var(--error, #d2252f);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
}

.input-content.error-input input[type="text"] {
  border: #D2252F;
  outline: 1px solid #D2252F;
}
