<div class="content">
  <div>
    <h1>Pra começar,
      quem está no rolê?
    </h1>
    <form class="form-content"  [formGroup]="form" (ngSubmit)="submit();" #conteudo [scrollTop]="conteudo.scrollHeight">
      <div formArrayName="inputs">
        <div class="btn-link" *ngFor="let input of inputs.controls; let i = index" [formGroupName]="i">
            <input type="text" formControlName="name" appAutofocus>
            <app-button-link (buttonAction)="deleteUser(i);" title="excluir"></app-button-link>
        </div>
      </div>
      <div class="btn-link">
        <button class="btn-add" (click)="addNewUserInput();">
          <p>Nome da pessoa</p>
        </button>
        <app-button-link (buttonAction)="deleteUser();" title="excluir"></app-button-link>
      </div>
    </form>

  </div>
  <div class="btn-next">
    <app-button
      buttonTitle="começar"
      [isDisabled]="!canEnableSubmitButton()"
      styleButton="primary"
      size="large"
      (buttonAction)="submit();"
    ></app-button>
  </div>

</div>
