<main class="content">
  <div>
    <h1 class="title">Resumo da conta</h1>
  </div>
  <a class="description" >
    <div class="description-food">
      <div class="icon">
        <span>1</span>
      </div>
      <div>
        <h4>Polenta frita</h4>
        <legend>Mariana, Victor, Luna</legend>
      </div>
    </div>
    <div class="description-price">
      <div class="price">
        <h3>R$99,80</h3>
        <legend>(R$49,90)</legend>
      </div>
      <button ><img width="8" src="../../../assets/icon _nav.svg" alt=""></button>
    </div>
  </a>
</main>
