.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & h1 {
    color: var(--blue-primary-500);
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

/* .content > p {
  color: var(--gray2);
} */

.input-content {
  display: grid;
  grid-template-areas:
    "food_name_input food_name_input food_name_input food_name_input"
    "food_price food_price food_price quantity";
}

.food_name_input {
  grid-area: food_name_input;
  width: 100%;
}

.food_price {
  grid-area: food_price;
  display: flex;
  flex-direction: row;
}

.quantity {
  grid-area: quantity;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input-text {
  padding: 1rem 0.8rem;
  margin-top: 1rem;
  border-radius: 8px;
  display: block;
  border: 1px solid var(--gray2);
  height: 50px;
  font-size: 1rem;
  opacity: 60%;
}

.input-text-price {
  width: 100%;
  border-radius: 0 8px 8px 0;
}

.input-text-quantity {
  width: 40%;
  border-radius: 0;
  text-align: center;
}

.field {
  padding: 0.8rem;
  margin-top: 1rem;
  display: block;
  border: 1px solid var(--gray2);
  background: var(--gray2);
  color: #f9f9f9;
  height: 50px;
}

.field-price {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50px;
}

.field-less {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 2rem;
}

.field-add {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 2rem;
}

.checkbox-content {
  margin-top: 3rem;

  & p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.editar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  & a {
    text-decoration: underline;
    color: var(--gray);
    opacity: 70%;
  }
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #1f2633;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 16px;
}

input[type="checkbox"]:checked {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/Vector.svg");
  background-size: 70%;
  background-color: #1f2633;
}

.price-quantity {
  display: flex;
  flex-direction: row;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  margin-top: 2rem;
}

.title {
  margin-bottom: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background: var(--gray5);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.card_title {
  color: var(--gray);
  align-self: center;
  margin-bottom: 1rem;

  & h5 {
    font-size: 0.875rem;
  }
}

.btn-close {
  width: 24px;
  height: 18px;
  padding-bottom: 1px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.deleteItem {
  display: flex;

  & a {
    cursor: pointer;
  }
}

.foodName {
  font-size: 0.8rem;
  color: var(--gray);
}

.orderAndPerson_name {
  font-size: 0.75rem;
  color: var(--gray3);
}

.price {
  text-align: end;
  font-size: 0.8rem;
  color: var(--gray);
}

.quantity {
  font-size: 0.75rem;
  color: var(--gray);
}
