<main class="content">
  <article>
    <header class="title">
      <h1 *ngIf="isEdit">Modificar item</h1>
      <div *ngIf="!isEdit">
        <h1>O que pediram ?</h1>
        <p>Adicione item por item</p>
      </div>
    </header>

    <section class="card" *ngIf="orders.length !== 0 && !isEdit">
      <header class="card_title">
        <h5>Já ta na conta</h5>
      </header>
      <div
        class="info"
        *ngFor="let order of orders; let i = index"
      >
        <div>
          <p class="foodName">{{ order.name }}</p>
          <p class="orderAndPerson_name">
            {{ getSharedUserNames(order) }}
          </p>
        </div>
        <div class="deleteItem">
          <div>
            <p class="price">
              R${{ multiplyValues(order.quantity, order.price) | currency }}
            </p>
            <p class="quantity">
              ({{ order.quantity }}x R${{ order.price | currency }})
            </p>
          </div>
          <a (click)="deleteItem(order)"
            ><img
              class="btn-close"
              src="./assets/close_FILL0_wght400_GRAD0_opsz48.svg"
              alt="botão fechar"
          /></a>
        </div>
      </div>
    </section>

    <section>
      <form class="input-content" [formGroup]="orderForm">
        <div class="food_name_input">
          <input
            class=" input-text"
            type="text"
            name="foodName"
            formControlName="foodName"
            placeholder="Ex: Polenta frita"
            [ngClass]="{'error-input': this.orderForm.dirty && this.orderForm.invalid }"
          />
          <div class="error-msg">
            <p *ngIf="(this.orderForm.dirty && this.orderForm.invalid) && this.orderForm.get('foodName').value.length > 25">
              O nome não pode ter mais de 25 caracteres.
            </p>
            <p *ngIf="(this.orderForm.dirty && this.orderForm.invalid) && this.orderForm.get('foodName').value.length === 0">
              Ops! Esse nome está em branco.
            </p>
          </div>
        </div>


        <div class="food_price">
          <span class="field field-price">R$</span>
          <input
            class="input-text input-text-price"
            type="tel"
            formControlName="price"
            name="price"
            currencyMask
          />
        </div>

        <div class="quantity">
          <button
            class="field field-less"
            (click)="updateQuantity($event, 'subtract')"
            (touchstart)="updateQuantity($event, 'subtract')"
          >
            -
          </button>
          <input
            class="input-text input-text-quantity"
            type="number"
            name="quantity"
            [placeholder]="quantity"
          />
          <button
            class="field field-add"
            (click)="updateQuantity($event, 'add')"
            (touchstart)="updateQuantity($event, 'add')"
          >
            +
          </button>
        </div>
      </form>
    </section>
    <div class="checkbox-content">
      <div class="editar">
        <p>Dividir valor entre</p>
        <app-button-link
          title="editar pessoas"
          (buttonAction)="editarPessoas()"
        ></app-button-link>
      </div>
      <div class="form-content">
        <form
          class="form-checkbox"
          *ngFor="let user of usersList; let i = index"
        >
          <input
            type="checkbox"
            name="name"
            [(ngModel)]="selectedUsers[i]"
            (click)="selectedUser($event.target.checked, i)"
          />
          <label for="name">{{ user.name }}</label>
        </form>
        <div class="btn-trash" *ngIf="isEdit">
          <a (click)="buttonAction.emit();">
            <img src="../../../assets/trash_.svg" alt="" />
            <app-button-link title="Excluir item"></app-button-link>
          </a>
        </div>
      </div>
    </div>
  </article>
  <footer class="btn-content" *ngIf="!isEdit">
    <app-button
      buttonTitle="incluir item"
      styleButton="primary"
      size="large"
      [isDisabled]="!this.canEnableSubmitButton()"
      (buttonAction)="createOrder();"
    ></app-button>
    <app-button-link
      title="Finalizar pedidos >"
      (buttonAction)="goToSummary();"
    ></app-button-link>
  </footer>

  <footer class="btn-content-edit" *ngIf="isEdit">
    <app-button
      buttonTitle="voltar"
      styleButton="secondary"
      size="small"
      [isDisabled]=""
    ></app-button>
    <app-button
      buttonTitle="salvar"
      styleButton="primary"
      size="small"
      [isDisabled]=""
    ></app-button>
  </footer>
</main>
