:root {
  --white: #F9F9F9;
  --blue-primary-500: #4e77ff;
  --blue-primary-600: #305ae5;
  --yellow-500: #f2fa5b;
  --yellow-400: #fefcbf;
  --gray: #1f2633;
  --gray2: #565d6c;
  --gray3: #a3a9b7;
  --gray4: #D8DADD;
  --gray5: #E8E9EC;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  /* height: 100dvh; */
  background: var(--white);
}

input[type="text"]:focus-visible {
  outline: 1px solid black;
}

html,
body,
input,
button,
p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0, 075rem;
}

p {
  font-size: 1rem;
}
