:root {
  --blue-primary-500: #4E77FF;
  --blue-primary-600: #305AE5;
  --yellow-500: #F2FA5B;
  --yellow-400: #FEFCBF;
  --gray: #1F2633;
  --gray2: #565D6C;
  --gray3: #A3A9B7;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

html,
body,
input,
button,
p {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h5 {
  font-size: 0,075rem;
}

p {
  font-size: 1rem;
}