.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--yellow-500);
}

.subtitle {
  font-size: 1rem;
  color: var(--yellow-400);
  margin: 1rem 0 3.5rem 0;
}

.btn {
  position: relative;
  z-index: 10;
}

.image {
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 70%;
  z-index: 0;
}

@media (max-width: 375px) {
  .subtitle {
    margin: 1rem 0 2rem 0;
  }
  .btn {
    position: relative;
    z-index: 10;
  }
  .image {
    position: fixed;
    right: 0;
    bottom: -20px;
    opacity: 70%;
    z-index: 0;
  }
}