.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: var(--blue-primary-500);
  box-sizing: border-box;  
}

.description-content {
  padding: 3rem 3rem;
}

.title {
  font-size: 2rem;
  color: var(--yellow-500);
}

.subtitle {
  font-size: 1rem;
  color: var(--yellow-400);
  margin-top: 1rem;
  background: var(--blue-primary-500);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.15rem;
  width: 100%;
  height: 50px;
  background-color: var(--yellow-500);
  border-radius: 8px;
  color: var(--blue-primary-600);
  font-weight: bold;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
}