<div class="content">
  <section>
    <header>
      <h1 class="title">Cansou de pedir só uma aguinha e pagar pelo banquete do amigo?</h1>
      <p class="subtitle">Com a <strong>conjunta</strong>, você paga somente o que consumiu.</p>
    </header>
  </section>
  <footer>
    <app-button 
      class="btn"
      buttonTitle="dividir com contajusta" 
      styleButton="yellow-primary" 
      [isDisabled]="false"
      (buttonAction)="goToUserRegister()"
    ></app-button>

    <img class="image" src="./assets/CJ.svg" alt="">
  </footer>
</div>