<div class="content">
  <section>
    <header>
      <img class="logoMenor" src="../../../assets/logoMenor.svg" alt="">
      <h1 class="title">Cansou de pedir só uma aguinha e pagar pelo banquete do amigo?</h1>
      <p class="subtitle">Com a <strong>contajusta</strong>, você paga somente o que consumiu.</p>
    </header>
  </section>
  <footer>
    <app-button 
      class="btn"
      buttonTitle="dividir com conta justa" 
      styleButton="yellow-primary" 
      [isDisabled]="false"
      (buttonAction)="goToUserRegister()"
    ></app-button>

    <img *ngIf="!isXiaomiBrowser" class="image" src="../../../assets/logoBg.svg" alt="">
  </footer>
</div>